/* static/css/sticky_cursor.css */

body {
    cursor: none;
    font-family: Inter, sans-serif;
}

[data-sticky] { 
    position: relative; 
}

[data-sticky-area] { 
    position: absolute; 
    inset: -20px;
    pointer-events: none;
}

.bubble {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: fixed;
    top: 0; 
    left: 0;
    transform: translate(-50%, -50%);
    background: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
}

html.dark .icon-btn.is-bubbled svg,
html.dark .icon-btn.is-bubbled svg * {
  stroke: #fff !important;
  color: #fff !important;
}

html:not(.dark) .icon-btn.is-bubbled svg,
html:not(.dark) .icon-btn.is-bubbled svg * {
  stroke: #000 !important;
  color: #000 !important;
}